.navBar {
    display: flex;
    background-color: black;
    padding: 30px;
    align-items: center;

}

.navLinks {
    display: flex;
    gap: 30px;
    margin-right: auto;
    padding-left: 30px;

}

.socialMediaLogos {
    display: flex;
    gap: 30px;
    padding-right: 30px;
}

.socialMediaLogos img {
    width: 40px;
    height: 40px;
}

.box1 {
    
    height: 85vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    background-color: black;

    

    color: rgb(23, 186, 70);
}

.pitcherVelosContainer {
    background-color: white;
    color: purple;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    gap: 10px;

    padding: 50px;

}

.cardList {
    display: flex;
    gap: 120px;
    margin-top: 45px;
    margin-bottom: 20px;

    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    box-shadow: 8px -8px 0 -5px, 8px -8px 0 0 #000;

    min-width: 200px;
    min-height: 200px;

}

.card img {
    width: 70px;
    height: 70px;
}

.stayInformedContainer {
    display: flex;
    flex-direction: column;

    gap: 70px;

    padding: 75px;

    background-color: black;
    color: white;
}

.blockQuoteStyleBox {
   display: flex;
   flex-direction: column;
   gap: 10px;

   border-left: 5px solid lime;

   padding: 15px;

}

.blockQuoteStyleBox button {
    width: fit-content;
}


.footer {
    background-color: gray;
    
    display: flex;
    flex-direction: column;

    gap: 15px;

    padding: 50px;

    justify-content: center;
}

.addressTexts {
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    
}

.rightSide {
    display: flex;
    flex-direction: column;
    
}

.trainingContainer {
    display: flex;
    flex-direction: column;

    padding: 45px;

    background-color: white;
    color: black;

    justify-content: center;
    align-items: center;
}

.trainingContainer li {
    margin: 50px;
    
}

.aboutUsContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 40px;
    gap: 15px;
}


.processContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: black;
    color: white;

    padding: 50px;
}

.processContainer .headerMedium {
    align-self: center;
}

.stepTopContainer {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.shopContainer {
    display: flex;
    flex-direction: column;

    background-color: black;
    color: white;

    padding: 30px;
    gap: 40px;

}

.snackBarContainer {
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: lime;

    gap: 15px;

    padding: 40px;

    align-items: center;
}

.snackBarButtons {
    display: flex;
    gap: 15px;
}

.socialContainer {
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: lime;

    gap: 50px;
    padding: 40px;

    align-items: center;
}

.socialButtons {
    display: flex;

    gap: 30px;
}

.socialButtons img {
    height: 40px;
    width: 40px;
}